body {
    background: 	#EEDFCC;
    text-align: center;
}

h1{
    color: #8B8378;
    font-size: 50px;
    font-family: 'Dosis', sans-serif;
}

#div0 {
    background-color: 	#CDC0B0;
    width: 400px;
    height: 500px;
    margin-left: 220px;
    margin-top: 80px;
    border-radius: 30px;
    border: double;
    border-color: #8B8378;
    display: inline-block;
}

#div1 {
    background-color: 	#CDC0B0;
    width: 400px;
    height: 500px;
    margin-right: 220px;
    margin-top: 80px;
    border-radius: 30px;
    border-color: #8B8378;
    border-style: double;
    display: inline-block;
}

span {
    background-color: #8B8378;
    position: fixed;
    width: 250px;
    height: 150px;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}